@media (min-width: 1200px) {
    .container {
        width: 80%;
    }
    nav .section-menu {
        align-items: right;
    }  
    nav .section-menu ul {
        right: initial;
    }
    nav .section-menu ul li {
        width: 250px;
    }
    nav .section-menu ul li:first-child::before {
        right: calc(50% - 15px);
    }
    main .section-landing {
        height: 300px;
    }
    main .section-landing .container {
        align-items: center;
    }
    main .section-landing .container .article-intro {
        text-align: center;
    }
    main .section-features .container {
        padding: 0; 
        flex-wrap: wrap;
        justify-content: space-between;
    }
}