/*                   ___________
____________________| variables |_______________________________________________________________ */
:root {
    --green-color: #10cab7;
    --dark-color: #545B6B;
    --gray-color: #E6E6E6;
    --line-height-level-1: 1.7;
    --line-height-level-2: 2;
    --size-level-1: 12px;
    --size-level-2: 14px;
    --size-level-3: 18px;
    --size-level-4: 20px;
    --size-level-5: 24px;
    --size-level-6: 32px;
    --size-level-7: 40px;
    --dimension-1: 20px;
    --dimension-2: 25px;
    --dimension-3: 30px;
    --dimension-4: 60px;
    --dimension-5: 200px;
    --dimension-6: 250px;
    --dimension-7: 300px;
    --dimension-8: 400px;
    --weight-level-1: 400;
    --weight-level-2: 500;
    --weight-level-3: 600;
    --weight-level-4: 900;
    --spacing-level-1: 5px;
    --spacing-level-2: 10px;
    --spacing-level-3: 15px;
    --spacing-level-4: 20px;
    --spacing-level-5: 30px;
    --spacing-level-6: 40px;
    --letter-spacing-level-1: -0.5px;
    --letter-spacing-level-2: -1px;
    --letter-spacing-level-3: -2px;
    --letter-spacing-level-4: -3px;
    --transition-level-1: 0.1s;
    --transition-level-2: 0.5s;
}
/*                   ______________
____________________| global rules |____________________________________________________________ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
section {
    padding-top: var(--spacing-level-6);
    padding-bottom: var(--spacing-level-6);
}
article {
    margin-bottom: var(--spacing-level-6);
}
.container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    padding: 0 var(--spacing-level-3);
}
@media (min-width: 768px) {
    .container {
        width: 90%;
    }
}
@media (min-width: 992px) {
    .container {
        width: 85%;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 80%;
    }
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: 100%;
}
h3 {
    font-size: var(--size-level-2);
    font-weight: var(--weight-level-4);
    letter-spacing: var(--letter-spacing-level-1);
    margin-bottom: var(--spacing-level-2);
}
p {
    font-size: var(--size-level-1);
    letter-spacing: var(--letter-spacing-level-1);
    line-height: var(--line-height-level-1);
    color: var(--dark-color, #333);
}
/*                   ____________
____________________| components |______________________________________________________________ */
.special-heading {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.special-heading h2 {
    color: var(--gray-color, gray);
    opacity: 0.7;
    font-size: 100px;
    font-weight: var(--weight-level-4);
    letter-spacing: var(--letter-spacing-level-1)
}
.special-heading p {
    font-size: var(--size-level-3);
    font-weight: var(--weight-level-1);
    letter-spacing: var(--letter-spacing-level-2);
    margin-top: calc(0px - var(--spacing-level-5));
}
@media (max-width: 767px) {
    .special-heading h2 {
        font-size: 70px;
    }
    .special-heading p {
        font-size: var(--size-level-2);
        margin-top: calc(0px - var(--spacing-level-4));
    }
}
/*                   ______________      
____________________| Header & nav |____________________________________________________________ */
body > .container header,
body > .container nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--dimension-4);
}
body > .container header {
    margin-left: 5%;
}
body > .container nav {
    margin-right: 5%;
}
.container header .section-logo,
.container nav .section-menu {
    height: var(--dimension-2);
    padding: 0;
}
.container nav .section-menu {
    text-align: center;
    position: relative;
}
.container nav .section-menu .icon {
    width: var(--dimension-3);
    height: var(--dimension-2);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
}
.container nav .section-menu .icon span {
    height: 3px;
    background-color: var(--dark-color, #333);
}
.container nav .section-menu .icon span:not(:nth-child(2)) {
    width: 100%;
}
.container nav .section-menu .icon span:nth-child(2) {
    width: 60%;
    transition: var(--transition-level-2);
}
.container nav .section-menu:hover .icon span:nth-child(2) {
    width: 100%;
}
.container nav .section-menu ul {
    background-color: white;
    position: absolute;
    top: calc(((var(--dimension-4) - var(--dimension-2)) / 2) + var(--dimension-2));
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-level-2);
}
.container nav .section-menu:hover ul {
    visibility: visible;
    opacity: 100%;
} 
.container nav .section-menu ul li {
    width: var(--dimension-5);
    border-bottom: 3px solid var(--gray-color, gray);
    transition: var(--transition-level-1);
}
.container nav .section-menu ul li:hover {
    background-color: var(--green-color, green);
}
.container nav .section-menu ul li:first-child::before {
    content: "";
    position: absolute;
    top: calc(0px - var(--dimension-3));
    right: 0;
    border-style: solid;
    border-width: calc(var(--dimension-3) / 2);
    border-color: transparent transparent white transparent;
    transition: var(--transition-level-1);
}  
.container nav .section-menu ul li:first-child:hover::before,
.container nav .section-menu ul li:last-child:hover {
    border-bottom-color: var(--green-color, green);
}
.container nav .section-menu ul li a {
    display: block;
    padding: var(--spacing-level-2) var(--spacing-level-6);
    font-size: var(--size-level-5); 
    font-weight: var(--weight-level-2);
    color: var(--green-color, green);
    overflow: hidden;
    transition: var(--transition-level-1);
}
.container nav .section-menu ul li:hover a {
    color: white;
}
/*                   _________________      
____________________| section-landing |_________________________________________________________ */
main .section-landing {
    height: var(--dimension-7);
    background-image: url(../images/mountains.png);
    background-size: 100vw 500px;
    background-repeat: no-repeat;
}
main .section-landing .container {
    height: 100%;
    justify-content: center;
    align-items: center;
}
main .section-landing .container .article-intro {
    width: var(--dimension-6);
    text-align: center;
    margin: 0;
}
main .section-landing .container .article-intro h3 {
    font-size: var(--size-level-6);
    margin-bottom: var(--spacing-level-6);
    color: var(--green-color, green);
}
main .section-landing .container .article-intro p {
    font-size: var(--size-level-2)
}
/*                   __________________      
____________________| section-features |________________________________________________________ */
main .section-features {
    background-color: #f6f6f6;;
}
main .section-features .container {   
    flex-wrap: wrap;
    justify-content: space-around;
}
main .section-features .container .article-feat {
    width: var(--dimension-6);
    height: var(--dimension-5);
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    text-align: center;
}
main .section-features .container .article-feat i {
    font-size: var(--size-level-7);
    color: var(--green-color, green);
}
/*                   __________________      
____________________| section-services |________________________________________________________ */
.section-services .container {
    flex-wrap: wrap;
    justify-content: center;
}
.section-services .container main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-services .container main article {
    flex-basis: var(--dimensin-7);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-services .container aside {
    display: none;
}
.section-services .container main article i {
    font-size: var(--size-level-7);
    color: var(--green-color, green);
    margin-bottom: var(--spacing-level-4);
}
.section-services .container main article .content {
    width: 75%;
    text-align: center;
 }
@media (min-width: 768px) {
    .section-services .container main article {
        width: 45%;
    }
}
/*                   ___________________      
____________________| section-portfolio |_______________________________________________________ */
.section-portfolio {
    background-color: #f6f6f6;
}
.section-portfolio .container {
    flex-direction: column;
}
.section-portfolio .container main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.section-portfolio .container main .article-card {
    width: var(--dimension-6);
    margin: 0 var(--spacing-level-2) var(--spacing-level-6);
    background-color: white;
}
.section-portfolio .container main .article-card .image {
    height: var(--dimension-5);
}
.section-portfolio .container main .article-card .content {
    padding: var(--spacing-level-3);
}
/*                   _______________      
____________________| section-about |___________________________________________________________ */
.section-about .container {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.section-about .container header {
    order: 1;
}
.section-about .container main {
    display: flex;
    flex-direction: column;
    order: 3;
    flex-basis: calc(100% - var(--dimension-8));
}
.section-about .container main p:first-of-type {
    font-size: var(--size-level-2);
    font-weight: var(--weight-level-4);
    line-height: var(--line-height-level-2);
    margin-bottom: var(--spacing-level-5);
}
.section-about .container main hr {
    width: 50%;
    margin-bottom: var(--spacing-level-3);
    border: 1px solid var(--green-color, green);
}
.section-about .container aside {
    order: 2;
    width: var(--dimension-5);
    height: var(--dimension-6);
    margin: var(--spacing-level-4) 0;
    position: relative;
}
.section-about .container aside::before {
    content: "";
    position: absolute;
    width: var(--dimension-4);
    height: calc(100% + var(--dimension-3));
    background-color: #f6f6f6;
    top: calc(0px - (var(--dimension-3) / 2));
    left: calc(0px - (var(--dimension-4) / 2));
    z-index: -1;
}
.section-about .container aside::after {
    content: "";
    position: absolute;
    height: 180px;
    width: var(--dimension-4);
    border-left: var(--dimension-4) solid var(--green-color, green);
    border-bottom: var(--dimension-4) solid var(--green-color, green);
    top: calc(0px - var(--dimension-1));
    right: -82px;
    z-index: -1;
}
@media (max-width: 767px) {
    .section-about .container {
        flex-direction: column;
    }
    .section-about .container main {
        text-align: center;
    }
    .section-about .container main hr {
        align-self: center;
    }
    .section-about .container aside::after {
        display: none;
    }
}
/*                   _________________      
____________________| section-contact |_________________________________________________________ */
.section-contact {
    background-color: #f6f6f6;
}
.section-contact .container {
    flex-wrap: wrap;
    justify-content: center;
}
.section-contact .container .main-info .article-mail {
    text-align: center;
}
.section-contact .container .main-info .article-mail p {
    font-size: 40px;
    font-weight: var(--weight-level-4);
    letter-spacing: var(--letter-spacing-level-3);
    margin-bottom: var(--spacing-level-3);
}
.section-contact .container .main-info .article-mail a {
    color: var(--green-color, green);
    font-size: var(--size-level-6);
    font-weight: var(--weight-level-4);
    letter-spacing: var(--letter-spacing-level-2);
}
.section-contact .container .main-info .article-social {
    display: flex;
    justify-content: center;
}
.section-contact .container .main-info .article-social ul {
    display: flex;
}
.section-contact .container .main-info .article-social ul li a {
    font-size: var(--size-level-4);
    margin-left: var(--spacing-level-4);
    color: var(--dark-color, #333);
}
.section-contact .container .main-info .article-social ul li a i:hover{
    color: var(--green-color, green);
}
@media (max-width: 767px) {
    .section-contact .container .main-info .article-mail p {
        font-size: var(--size-level-5);
    }
    .section-contact .container .main-info .article-mail a {
        font-size: var(--size-level-4);
    }
    .section-contact .container .main-info .article-social ul li a {
        font-size: var(--size-level-3);
    }
}
/*                   ________      
____________________| Footer |__________________________________________________________________ */
body footer {
    display: flex;
    justify-content: center;
    background-color: #2B3C47;
    padding-top: var(--spacing-level-4);
    padding-bottom: var(--spacing-level-4);
}
body footer p {
    font-size: var(--size-level-2);
    letter-spacing: 0px;
    font-weight: var(--weight-level-3);
    color: white;
}
body footer p span {
    color: var(--green-color, green);
}